{% if obs and display_host %}
    <div class="player host Troy">
        <h2>@troypavlek</h2>
        <div class="img-wrapper">
            <img src="/img/fill4.jpg">
        </div>
    </div>
    <br />
{% endif %}

<div class="player-container">

    {% for player in players %}
        <div class="{{ player }} {{ " " }} player" data-player-name="{{ player }}" {% if player == user %} data-active-player="true" {% endif %}>
            <h2 style="display: inline; float:left; padding-left: 1em;">{{ player }}</h2>
            <span class="score" style="float:right; padding-right: 1em;">0</span>
            <div style="clear:both;"></div>
            {% if show_image %}
                <div class="img-wrapper">
                    <img src="/img/fill{{ loop.index }}.jpg" />
                </div>
            {% endif %}

        </div>
    {% endfor %}
</div>
